modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
Maps_API_KEY = "AIzaSyAd7THuZ2Dutmu_w2sXe6IqeCA8XoNOf3U"
VITE_MAPS_API_KEY = "AIzaSyAd7THuZ2Dutmu_w2sXe6IqeCA8XoNOf3U"
VAPID_PUBLIC_KEY = "BDK8cqECLF0U8qfnfqdNcsLT1biIK7BFHIN_7ZBV19hLGHniUZe4EHrc-CKwRmS9fj7Ae02LrpiNYwZoxRLfTZg"
VAPID_PRIVATE_KEY = "GHniUZe4EHrc-CKwRmS9fj7Ae02LrpiNYwZoxRLfTZg"
VAPID_SUBJECT = "mailto:support@osusowakejapan.org"
ADMIN_APPROVAL_SECRET = "2h9igv5-7AOtRfbLQmS9ainYDsor2LVSVFxkLuk4xVWCq7d9DmSIWIrh3XlM8bGo"
APP_URL = "https://osusowakejapan.org"
